In [9]:
#importando a biblioteca pandas para analise e numpy para controlar o volume de dados
import pandas as pd
import numpy as np
# Fiz uma variavel "vendas" recebendo a planilha para nos analisar 
vendas=pd.read_excel("BaseFuncionarios.xlsx")
display(vendas)

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário
0,195,Adelino,M,Porto Alegre,2015-04-23,NaT,11566,Coordenador,Administrativo,123,9.6
1,102,Adriano,M,Curitiba,2011-12-05,NaT,1459,Estagiário,Comercial,158,8.4
2,342,Alfredo,M,Campinas,2011-04-02,NaT,9958,Coordenador,Administrativo,200,7.4
3,320,Aline,F,São Paulo,2015-08-13,NaT,801,Estagiário,Operações,120,9.4
4,88,Aline,F,Salvador,2011-03-29,NaT,16855,Gerente,Administrativo,93,8.2
...,...,...,...,...,...,...,...,...,...,...,...
229,439,Vitor,M,São Paulo,2017-11-01,NaT,4224,Analista,Logística,55,7.2
230,34,Vitor,M,Rio de Janeiro,2013-08-25,NaT,15790,Gerente,Operações,113,9.0
231,464,Wesley,M,Rio de Janeiro,2015-11-17,NaT,1439,Estagiário,Logística,36,9.2
232,514,Yago,M,Salvador,2013-10-01,NaT,948,Estagiário,Comercial,113,7.8
233,163,Yasmini,F,Belo Horizonte,2013-08-07,NaT,12466,Coordenador,Logística,175,8.8

In [10]:
#Tipos de inspeção que eu aprendi
# sample mostra uma linha aleatoria
display(vendas.sample())
#shape
display(vendas.shape)
display(vendas.columns)
display(vendas.info())
display(vendas.describe())

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário
205,99,Rafael,M,Salvador,2011-11-12,NaT,10923,Coordenador,Administrativo,23,9.4

(234, 11)

Index(['ID RH', 'Nome', 'Genero', 'Cidade', 'Data de Contratacao',
       'Data de Demissao', 'Salario', 'Cargo', 'Área', 'Horas Extras',
       'Avaliação do Funcionário'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID RH                     234 non-null    int64
 1   Nome                      234 non-null    object
 2   Genero                    234 non-null    object
 3   Cidade                    234 non-null    object
 4   Data de Contratacao       234 non-null    datetime64[ns]
 5   Data de Demissao          17 non-null     datetime64[ns]
 6   Salario                   234 non-null    int64
 7   Cargo                     234 non-null    object
 8   Área                      234 non-null    object
 9   Horas Extras              234 non-null    int64
 10  Avaliação do Funcionário  234 non-null    float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(5)
memory usage: 20.2+ KB

None

,ID RH,Data de Contratacao,Data de Demissao,Salario,Horas Extras,Avaliação do Funcionário
count,234.000000,234,17,234.000000,234.000000,234.000000
mean,271.200855,2014-02-22 10:40:00,2014-12-18 19:45:52.941176576,6708.435897,102.940171,8.194017
min,4.000000,2010-02-04 00:00:00,2011-07-07 00:00:00,801.000000,0.000000,5.400000
25%,142.250000,2012-02-18 12:00:00,2012-07-08 00:00:00,1672.250000,44.250000,7.600000
50%,277.000000,2014-02-05 00:00:00,2015-06-10 00:00:00,6814.000000,108.000000,8.400000
75%,408.750000,2016-02-03 18:00:00,2016-11-02 00:00:00,10488.250000,159.500000,8.800000
max,537.000000,2018-12-08 00:00:00,2018-12-11 00:00:00,25340.000000,200.000000,9.800000
std,154.386889,NaN,NaN,4817.880382,61.423359,0.933753

In [11]:
#limpesa e tratamento
#display(vendas["Nome Cliente"])
lista=["Nome Cliente","Produto"]
#display(vendas[lista])
exclua=vendas.drop(columns=["Horas Extras"])
#display(exclua)
#display(vendas)
exclua["Data de Demissao"]=exclua["Data de Demissao"].fillna("vazio")
exclua["Data de Contratacao"]=pd.to_datetime(exclua["Data de Contratacao"],format="%Y-%m-%d")
display(exclua)
display(exclua.info())
exclua["Nome"]=exclua["Nome"].str.strip()
exclua["Nome"]=exclua["Nome"].str.title()
exclua=exclua.drop_duplicates(subset="ID RH")
display(exclua)

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Avaliação do Funcionário
0,195,Adelino,M,Porto Alegre,2015-04-23,vazio,11566,Coordenador,Administrativo,9.6
1,102,Adriano,M,Curitiba,2011-12-05,vazio,1459,Estagiário,Comercial,8.4
2,342,Alfredo,M,Campinas,2011-04-02,vazio,9958,Coordenador,Administrativo,7.4
3,320,Aline,F,São Paulo,2015-08-13,vazio,801,Estagiário,Operações,9.4
4,88,Aline,F,Salvador,2011-03-29,vazio,16855,Gerente,Administrativo,8.2
...,...,...,...,...,...,...,...,...,...,...
229,439,Vitor,M,São Paulo,2017-11-01,vazio,4224,Analista,Logística,7.2
230,34,Vitor,M,Rio de Janeiro,2013-08-25,vazio,15790,Gerente,Operações,9.0
231,464,Wesley,M,Rio de Janeiro,2015-11-17,vazio,1439,Estagiário,Logística,9.2
232,514,Yago,M,Salvador,2013-10-01,vazio,948,Estagiário,Comercial,7.8
233,163,Yasmini,F,Belo Horizonte,2013-08-07,vazio,12466,Coordenador,Logística,8.8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID RH                     234 non-null    int64
 1   Nome                      234 non-null    object
 2   Genero                    234 non-null    object
 3   Cidade                    234 non-null    object
 4   Data de Contratacao       234 non-null    datetime64[ns]
 5   Data de Demissao          234 non-null    object
 6   Salario                   234 non-null    int64
 7   Cargo                     234 non-null    object
 8   Área                      234 non-null    object
 9   Avaliação do Funcionário  234 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 18.4+ KB

None

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Avaliação do Funcionário
0,195,Adelino,M,Porto Alegre,2015-04-23,vazio,11566,Coordenador,Administrativo,9.6
1,102,Adriano,M,Curitiba,2011-12-05,vazio,1459,Estagiário,Comercial,8.4
2,342,Alfredo,M,Campinas,2011-04-02,vazio,9958,Coordenador,Administrativo,7.4
3,320,Aline,F,São Paulo,2015-08-13,vazio,801,Estagiário,Operações,9.4
4,88,Aline,F,Salvador,2011-03-29,vazio,16855,Gerente,Administrativo,8.2
...,...,...,...,...,...,...,...,...,...,...
229,439,Vitor,M,São Paulo,2017-11-01,vazio,4224,Analista,Logística,7.2
230,34,Vitor,M,Rio de Janeiro,2013-08-25,vazio,15790,Gerente,Operações,9.0
231,464,Wesley,M,Rio de Janeiro,2015-11-17,vazio,1439,Estagiário,Logística,9.2
232,514,Yago,M,Salvador,2013-10-01,vazio,948,Estagiário,Comercial,7.8
233,163,Yasmini,F,Belo Horizonte,2013-08-07,vazio,12466,Coordenador,Logística,8.8

In [ ]:
exclua=vendas
exclua["media avalia"]=exclua["Avaliação do Funcionário"].sum()/exclua["Nome"].count()
exclua["resumo"]=np.where(exclua["Avaliação do Funcionário"]>8,"satisfeito","insatisfeito")
Regioes_estado={"Rio de Janeiro":"Suldeste","São Paulo":"Suldeste","Belo Horizonte":"Suldeste","Campinas":"Suldeste",
'Salvador':"Nordeste","Recife":"nordeste",
"Curitiba":"Sul","Porto Alegre":"Sul"
,"Goiânia":"Centro Oeste"}
exclua["Região"]=exclua["Cidade"].map(Regioes_estado)
display(exclua["Cidade"].unique())
display(exclua)

array(['Porto Alegre', 'Curitiba', 'Campinas', 'São Paulo', 'Salvador',
       'Belo Horizonte', 'Recife', 'Goiânia', 'Rio de Janeiro'],
      dtype=object)

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região
0,195,Adelino,M,Porto Alegre,2015-04-23,NaT,11566,Coordenador,Administrativo,123,9.6,8.194017,satisfeito,Sul
1,102,Adriano,M,Curitiba,2011-12-05,NaT,1459,Estagiário,Comercial,158,8.4,8.194017,satisfeito,Sul
2,342,Alfredo,M,Campinas,2011-04-02,NaT,9958,Coordenador,Administrativo,200,7.4,8.194017,insatisfeito,Suldeste
3,320,Aline,F,São Paulo,2015-08-13,NaT,801,Estagiário,Operações,120,9.4,8.194017,satisfeito,Suldeste
4,88,Aline,F,Salvador,2011-03-29,NaT,16855,Gerente,Administrativo,93,8.2,8.194017,satisfeito,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,439,Vitor,M,São Paulo,2017-11-01,NaT,4224,Analista,Logística,55,7.2,8.194017,insatisfeito,Suldeste
230,34,Vitor,M,Rio de Janeiro,2013-08-25,NaT,15790,Gerente,Operações,113,9.0,8.194017,satisfeito,Suldeste
231,464,Wesley,M,Rio de Janeiro,2015-11-17,NaT,1439,Estagiário,Logística,36,9.2,8.194017,satisfeito,Suldeste
232,514,Yago,M,Salvador,2013-10-01,NaT,948,Estagiário,Comercial,113,7.8,8.194017,insatisfeito,Nordeste
233,163,Yasmini,F,Belo Horizonte,2013-08-07,NaT,12466,Coordenador,Logística,175,8.8,8.194017,satisfeito,Suldeste

In [ ]:
ID_RH=342
exclua=exclua.sort_values(by="Nome")
nome=exclua.loc[2,"Nome"]
cidade=exclua.loc[2,"Cidade"]
statifacao=exclua.loc[2,"resumo"]
teste=exclua.iloc[1,3]
condicao5=exclua[exclua["ID RH"]==88]
print(nome,cidade,statifacao)
print(teste)
display(exclua)
display(condicao5)
ncidade=exclua.loc[exclua["ID RH"]==88,"Cidade"].values[0]
display(ncidade)
saopau=exclua.loc[exclua["Cidade"]=="São Paulo"]
display(saopau)
venda2011=exclua.loc[exclua["Data de Contratacao"].dt.year==2011]
display(venda2011)
Sulr=exclua["Região"]=="Sul"
cargo=exclua["Cargo"]=="Estagiário"
dupla=exclua[Sulr&cargo]
display(dupla)

Alfredo Campinas insatisfeito
Curitiba

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região
0,195,Adelino,M,Porto Alegre,2015-04-23,NaT,11566,Coordenador,Administrativo,123,9.6,8.194017,satisfeito,Sul
1,102,Adriano,M,Curitiba,2011-12-05,NaT,1459,Estagiário,Comercial,158,8.4,8.194017,satisfeito,Sul
2,342,Alfredo,M,Campinas,2011-04-02,NaT,9958,Coordenador,Administrativo,200,7.4,8.194017,insatisfeito,Suldeste
3,320,Aline,F,São Paulo,2015-08-13,NaT,801,Estagiário,Operações,120,9.4,8.194017,satisfeito,Suldeste
4,88,Aline,F,Salvador,2011-03-29,NaT,16855,Gerente,Administrativo,93,8.2,8.194017,satisfeito,Nordeste
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,464,Wesley,M,Rio de Janeiro,2015-11-17,NaT,1439,Estagiário,Logística,36,9.2,8.194017,satisfeito,Suldeste
232,514,Yago,M,Salvador,2013-10-01,NaT,948,Estagiário,Comercial,113,7.8,8.194017,insatisfeito,Nordeste
233,163,Yasmini,F,Belo Horizonte,2013-08-07,NaT,12466,Coordenador,Logística,175,8.8,8.194017,satisfeito,Suldeste
23,74,Átila,M,Recife,2012-02-23,NaT,834,Estagiário,Financeiro,12,7.2,8.194017,insatisfeito,nordeste
67,521,Ébio,M,São Paulo,2012-09-22,NaT,1335,Estagiário,Administrativo,83,8.4,8.194017,satisfeito,Suldeste

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região
4,88,Aline,F,Salvador,2011-03-29,NaT,16855,Gerente,Administrativo,93,8.2,8.194017,satisfeito,Nordeste

'Salvador'

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região
3,320,Aline,F,São Paulo,2015-08-13,NaT,801,Estagiário,Operações,120,9.4,8.194017,satisfeito,Suldeste
7,95,Amanda,F,São Paulo,2017-06-23,NaT,11838,Coordenador,Operações,124,9.4,8.194017,satisfeito,Suldeste
16,10,Andre,M,São Paulo,2013-02-25,NaT,10746,Coordenador,Administrativo,164,8.8,8.194017,satisfeito,Suldeste
20,145,Arnôr,M,São Paulo,2014-02-19,NaT,7761,Analista,Comercial,94,8.6,8.194017,satisfeito,Suldeste
24,6,Audir,M,São Paulo,2017-06-12,NaT,7324,Analista,Operações,55,9.2,8.194017,satisfeito,Suldeste
31,374,Bernardo,M,São Paulo,2014-10-16,NaT,9553,Coordenador,Operações,153,7.6,8.194017,insatisfeito,Suldeste
34,98,Brenda,F,São Paulo,2010-12-28,NaT,15305,Gerente,Comercial,195,9.4,8.194017,satisfeito,Suldeste
40,472,Bruna,F,São Paulo,2010-10-12,2012-06-10,5755,Analista,Comercial,30,8.6,8.194017,satisfeito,Suldeste
38,321,Bruna,F,São Paulo,2014-04-27,NaT,11007,Coordenador,Financeiro,22,7.8,8.194017,insatisfeito,Suldeste
47,308,Camila,F,São Paulo,2015-05-30,NaT,2052,Estagiário,Comercial,119,8.0,8.194017,insatisfeito,Suldeste
48,324,Camila,F,São Paulo,2016-01-18,NaT,1599,Estagiário,Financeiro,94,9.8,8.194017,satisfeito,Suldeste
58,238,Carolina,F,São Paulo,2017-05-15,NaT,1200,Estagiário,Comercial,2,9.2,8.194017,satisfeito,Suldeste
71,160,Eduardo,M,São Paulo,2010-05-16,NaT,823,Estagiário,Administrativo,180,7.8,8.194017,insatisfeito,Suldeste
72,436,Emilaine,F,São Paulo,2012-05-20,NaT,2057,Estagiário,Logística,160,8.4,8.194017,satisfeito,Suldeste
73,19,Felipe,M,São Paulo,2015-07-19,NaT,5480,Analista,Operações,55,7.8,8.194017,insatisfeito,Suldeste
75,180,Filipe,M,São Paulo,2017-02-16,NaT,1108,Estagiário,Logística,98,6.8,8.194017,insatisfeito,Suldeste
80,117,Flávio,M,São Paulo,2012-09-23,NaT,2013,Estagiário,Financeiro,111,8.6,8.194017,satisfeito,Suldeste
86,330,Gabriela,F,São Paulo,2012-06-13,NaT,25340,Diretor,Logística,33,9.0,8.194017,satisfeito,Suldeste
97,423,Ighor,M,São Paulo,2016-04-23,NaT,8446,Analista,Comercial,109,9.0,8.194017,satisfeito,Suldeste
99,18,Isabella,F,São Paulo,2017-10-25,NaT,11278,Coordenador,Comercial,98,8.4,8.194017,satisfeito,Suldeste
104,153,Izabel,F,São Paulo,2013-07-02,2014-12-25,14206,Gerente,Logística,198,8.2,8.194017,satisfeito,Suldeste
106,398,Jeferson,M,São Paulo,2016-01-19,NaT,10967,Coordenador,Administrativo,39,7.2,8.194017,insatisfeito,Suldeste
119,440,Juan,M,São Paulo,2016-09-01,NaT,6256,Analista,Logística,82,8.4,8.194017,satisfeito,Suldeste
121,433,Julia,F,São Paulo,2014-09-23,NaT,959,Estagiário,Logística,81,5.8,8.194017,insatisfeito,Suldeste
135,351,Lorena,F,São Paulo,2011-05-07,NaT,1983,Estagiário,Comercial,168,7.6,8.194017,insatisfeito,Suldeste
134,247,Lorena,F,São Paulo,2012-07-29,NaT,6434,Analista,Administrativo,23,9.2,8.194017,satisfeito,Suldeste
152,280,Luiz,M,São Paulo,2010-02-13,NaT,7015,Analista,Financeiro,87,6.8,8.194017,insatisfeito,Suldeste
149,381,Luiz,M,São Paulo,2011-03-27,NaT,10328,Coordenador,Operações,79,6.8,8.194017,insatisfeito,Suldeste
153,284,Luiz,M,São Paulo,2010-10-31,NaT,1197,Estagiário,Logística,172,7.4,8.194017,insatisfeito,Suldeste
155,456,Luiza,F,São Paulo,2013-02-14,NaT,7046,Analista,Operações,140,9.0,8.194017,satisfeito,Suldeste
133,170,Lígia,F,São Paulo,2013-12-14,NaT,965,Estagiário,Financeiro,153,8.4,8.194017,satisfeito,Suldeste
162,257,Manuela,F,São Paulo,2014-04-11,NaT,12694,Coordenador,Comercial,152,8.8,8.194017,satisfeito,Suldeste
163,38,Marcelo,M,São Paulo,2013-04-24,NaT,891,Estagiário,Operações,173,8.4,8.194017,satisfeito,Suldeste
167,138,Maria,F,São Paulo,2014-09-02,NaT,6503,Analista,Comercial,173,8.4,8.194017,satisfeito,Suldeste
179,51,Matheus,M,São Paulo,2013-06-01,NaT,940,Estagiário,Administrativo,44,7.8,8.194017,insatisfeito,Suldeste
182,453,Milena,F,São Paulo,2015-08-24,NaT,1704,Estagiário,Comercial,183,6.8,8.194017,insatisfeito,Suldeste
184,232,Nathalia,F,São Paulo,2015-09-22,NaT,7448,Analista,Financeiro,15,8.6,8.194017,satisfeito,Suldeste
189,518,Nuno,M,São Paulo,2014-02-06,NaT,1434,Estagiário,Comercial,14,8.6,8.194017,satisfeito,Suldeste
193,242,Paula,F,São Paulo,2018-06-29,NaT,12252,Coordenador,Comercial,28,8.4,8.194017,satisfeito,Suldeste
194,318,Paulo,M,São Paulo,2013-07-28,NaT,1316,Estagiário,Operações,103,8.0,8.194017,insatisfeito,Suldeste
198,115,Pedro,M,São Paulo,2011-03-04,2015-11-12,1812,Estagiário,Administrativo,73,9.0,8.194017,satisfeito,Suldeste
204,323,Rafael,M,São Paulo,2017-04-29,NaT,1139,Estagiário,Administrativo,72,8.8,8.194017,satisfeito,Suldeste
210,131,Renan,M,São Paulo,2016-01-28,NaT,12952,Gerente,Financeiro,174,9.2,8.194017,satisfeito,Suldeste
213,89,Roberto,M,São Paulo,2017-10-12,NaT,11068,Coordenador,Comercial,19,8.6,8.194017,satisfeito,Suldeste
222,122,Thaís,F,São Paulo,2016-08-20,NaT,8752,Analista,Financeiro,80,8.6,8.194017,satisfeito,Suldeste
224,492,Thomaz,M,São Paulo,2013-02-08,NaT,983,Estagiário,Comercial,182,8.6,8.194017,satisfeito,Suldeste
225,181,Tiago,M,São Paulo,2013-02-13,NaT,5795,Analista,Operações,167,7.2,8.194017,insatisfeito,Suldeste
226,522,Victor,M,São Paulo,2016-02-08,NaT,872,Estagiário,Administrativo,188,9.0,8.194017,satisfeito,Suldeste
227,16,Vinicius,M,São Paulo,2016-09-05,NaT,4960,Analista,Financeiro,38,9.0,8.194017,satisfeito,Suldeste
228,461,Vinicius,M,São Paulo,2014-05-31,NaT,5335,Analista,Administrativo,156,8.8,8.194017,satisfeito,Suldeste
229,439,Vitor,M,São Paulo,2017-11-01,NaT,4224,Analista,Logística,55,7.2,8.194017,insatisfeito,Suldeste
67,521,Ébio,M,São Paulo,2012-09-22,NaT,1335,Estagiário,Administrativo,83,8.4,8.194017,satisfeito,Suldeste

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região
1,102,Adriano,M,Curitiba,2011-12-05,NaT,1459,Estagiário,Comercial,158,8.4,8.194017,satisfeito,Sul
2,342,Alfredo,M,Campinas,2011-04-02,NaT,9958,Coordenador,Administrativo,200,7.4,8.194017,insatisfeito,Suldeste
4,88,Aline,F,Salvador,2011-03-29,NaT,16855,Gerente,Administrativo,93,8.2,8.194017,satisfeito,Nordeste
21,537,Arthur,M,Recife,2011-07-16,NaT,6583,Analista,Comercial,4,8.8,8.194017,satisfeito,nordeste
30,192,Bernard,M,Recife,2011-10-12,NaT,16080,Gerente,Comercial,177,8.2,8.194017,satisfeito,nordeste
46,148,Caio,M,Campinas,2011-09-22,NaT,5210,Analista,Administrativo,199,9.6,8.194017,satisfeito,Suldeste
49,412,Camilla,F,Recife,2011-06-08,2013-04-13,8167,Analista,Logística,170,7.4,8.194017,insatisfeito,nordeste
52,500,Carolina,F,Curitiba,2011-01-14,2017-03-03,5763,Analista,Logística,166,9.6,8.194017,satisfeito,Sul
60,255,Catarina,F,Recife,2011-05-31,NaT,5479,Analista,Operações,51,9.0,8.194017,satisfeito,nordeste
84,142,Gabriel,M,Rio de Janeiro,2011-09-13,NaT,1668,Estagiário,Logística,23,8.8,8.194017,satisfeito,Suldeste
92,446,Guilherme,M,Recife,2011-04-25,NaT,10489,Coordenador,Administrativo,101,6.6,8.194017,insatisfeito,nordeste
94,4,Guilherme,M,Belo Horizonte,2011-05-03,NaT,7415,Analista,Administrativo,176,8.4,8.194017,satisfeito,Suldeste
114,329,João,M,Curitiba,2011-02-12,2011-07-07,854,Estagiário,Comercial,186,7.4,8.194017,insatisfeito,Sul
131,41,Leticia,F,Salvador,2011-12-04,2016-11-02,8363,Analista,Comercial,63,8.8,8.194017,satisfeito,Nordeste
135,351,Lorena,F,São Paulo,2011-05-07,NaT,1983,Estagiário,Comercial,168,7.6,8.194017,insatisfeito,Suldeste
146,172,Luis,M,Salvador,2011-08-08,NaT,6180,Analista,Comercial,17,8.8,8.194017,satisfeito,Nordeste
147,235,Luis,M,Recife,2011-12-24,NaT,808,Estagiário,Operações,21,7.8,8.194017,insatisfeito,nordeste
149,381,Luiz,M,São Paulo,2011-03-27,NaT,10328,Coordenador,Operações,79,6.8,8.194017,insatisfeito,Suldeste
161,206,Manuela,F,Recife,2011-01-25,2017-02-21,10283,Coordenador,Operações,52,8.6,8.194017,satisfeito,nordeste
166,444,Maria,F,Salvador,2011-03-11,NaT,864,Estagiário,Operações,131,8.4,8.194017,satisfeito,Nordeste
169,45,Mariana,F,Goiânia,2011-04-24,NaT,7559,Analista,Comercial,142,8.2,8.194017,satisfeito,Centro Oeste
176,344,Matheus,M,Belo Horizonte,2011-11-10,NaT,1276,Estagiário,Comercial,128,8.0,8.194017,insatisfeito,Suldeste
183,326,Myllena,F,Belo Horizonte,2011-10-07,NaT,13073,Coordenador,Logística,185,7.2,8.194017,insatisfeito,Suldeste
187,496,Nicolas,M,Recife,2011-03-14,NaT,1434,Estagiário,Comercial,40,8.4,8.194017,satisfeito,nordeste
198,115,Pedro,M,São Paulo,2011-03-04,2015-11-12,1812,Estagiário,Administrativo,73,9.0,8.194017,satisfeito,Suldeste
196,20,Pedro,M,Campinas,2011-01-27,2012-03-04,7203,Analista,Operações,11,7.2,8.194017,insatisfeito,Suldeste
205,99,Rafael,M,Salvador,2011-11-12,NaT,10923,Coordenador,Administrativo,23,9.4,8.194017,satisfeito,Nordeste
209,397,Renan,M,Rio de Janeiro,2011-01-12,2012-07-08,10699,Coordenador,Financeiro,196,6.4,8.194017,insatisfeito,Suldeste
215,339,Rodrigo,M,Rio de Janeiro,2011-10-19,NaT,14671,Gerente,Logística,131,8.0,8.194017,insatisfeito,Suldeste
219,399,Saranna,F,Recife,2011-07-09,NaT,8130,Analista,Logística,185,8.2,8.194017,satisfeito,nordeste
220,488,Stefan,M,Belo Horizonte,2011-04-02,NaT,9356,Coordenador,Financeiro,142,7.6,8.194017,insatisfeito,Suldeste

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região
1,102,Adriano,M,Curitiba,2011-12-05,NaT,1459,Estagiário,Comercial,158,8.4,8.194017,satisfeito,Sul
13,334,Ana,F,Porto Alegre,2016-12-10,NaT,1107,Estagiário,Administrativo,1,7.4,8.194017,insatisfeito,Sul
17,469,André,M,Porto Alegre,2015-12-25,NaT,850,Estagiário,Operações,196,8.4,8.194017,satisfeito,Sul
50,392,Carlos,M,Curitiba,2013-10-05,NaT,1844,Estagiário,Administrativo,167,8.6,8.194017,satisfeito,Sul
61,185,Clarissa,F,Curitiba,2013-08-24,NaT,2081,Estagiário,Administrativo,187,8.8,8.194017,satisfeito,Sul
68,261,Eduarda,F,Porto Alegre,2016-09-11,NaT,1940,Estagiário,Administrativo,149,8.2,8.194017,satisfeito,Sul
95,159,Hannah,F,Porto Alegre,2017-10-28,NaT,1576,Estagiário,Administrativo,161,9.0,8.194017,satisfeito,Sul
111,97,João,M,Curitiba,2015-05-30,NaT,1269,Estagiário,Operações,54,9.2,8.194017,satisfeito,Sul
114,329,João,M,Curitiba,2011-02-12,2011-07-07,854,Estagiário,Comercial,186,7.4,8.194017,insatisfeito,Sul
141,228,Lucas,M,Porto Alegre,2013-09-13,NaT,978,Estagiário,Financeiro,74,8.2,8.194017,satisfeito,Sul
158,322,Luiza,F,Porto Alegre,2016-03-07,NaT,1738,Estagiário,Financeiro,60,9.2,8.194017,satisfeito,Sul
212,105,Roberta,F,Porto Alegre,2010-04-12,NaT,1519,Estagiário,Comercial,161,8.6,8.194017,satisfeito,Sul

In [ ]:
#agrupamentos
#display(exclua)
proficio=exclua[["Cargo","Salario"]].groupby("Cargo").max()
#display(proficio)
proficio2=exclua[["Cargo","Salario"]].groupby("Cargo").min()
#display(proficio2)
proficio3=exclua[["Cargo","Salario"]].groupby("Cargo").median()
#display(proficio3)
rank=proficio.sort_values(by="Salario",ascending=False)
rank=rank.reset_index()
#display(rank)
Porto=exclua.loc[exclua["Cidade"]=="Porto Alegre"]
#display(Porto)
Porto=exclua[["Nome","Salario"]].groupby("Nome").max()
Porto=Porto.sort_values(by="Salario",ascending=False)
Porto=Porto.reset_index()
#display(Porto)
mediapestado=exclua[["Cidade","Cargo","Salario"]].groupby(["Cidade","Cargo"]).mean()
#display(mediapestado)
ano23=exclua[exclua["Data de Contratacao"].dt.year==2015].copy()
#display(ano23)
ano23["pormes"]=ano23["Data de Contratacao"].dt.to_period("M")
display(ano23)
ano23=ano23[["pormes","Salario"]].groupby(["pormes"]).mean()
display(ano23)

,ID RH,Nome,Genero,Cidade,Data de Contratacao,Data de Demissao,Salario,Cargo,Área,Horas Extras,Avaliação do Funcionário,media avalia,resumo,Região,pormes
0,195,Adelino,M,Porto Alegre,2015-04-23,NaT,11566,Coordenador,Administrativo,123,9.6,8.194017,satisfeito,Sul,2015-04
3,320,Aline,F,São Paulo,2015-08-13,NaT,801,Estagiário,Operações,120,9.4,8.194017,satisfeito,Suldeste,2015-08
5,113,Aline,F,Belo Horizonte,2015-02-15,NaT,8816,Analista,Comercial,64,8.4,8.194017,satisfeito,Suldeste,2015-02
17,469,André,M,Porto Alegre,2015-12-25,NaT,850,Estagiário,Operações,196,8.4,8.194017,satisfeito,Sul,2015-12
47,308,Camila,F,São Paulo,2015-05-30,NaT,2052,Estagiário,Comercial,119,8.0,8.194017,insatisfeito,Suldeste,2015-05
54,146,Carolina,F,Belo Horizonte,2015-04-10,2016-06-09,10085,Coordenador,Financeiro,20,8.0,8.194017,insatisfeito,Suldeste,2015-04
63,347,Daniel,M,Salvador,2015-10-24,NaT,1698,Estagiário,Administrativo,147,9.0,8.194017,satisfeito,Nordeste,2015-10
69,193,Eduardo,M,Goiânia,2015-12-17,NaT,1194,Estagiário,Operações,190,8.8,8.194017,satisfeito,Centro Oeste,2015-12
73,19,Felipe,M,São Paulo,2015-07-19,NaT,5480,Analista,Operações,55,7.8,8.194017,insatisfeito,Suldeste,2015-07
77,311,Flávia,F,Rio de Janeiro,2015-03-31,NaT,9053,Analista,Administrativo,134,7.4,8.194017,insatisfeito,Suldeste,2015-03
79,292,Flávio,M,Campinas,2015-08-06,NaT,7583,Analista,Logística,165,9.2,8.194017,satisfeito,Suldeste,2015-08
116,106,José,M,Campinas,2015-11-29,NaT,11609,Coordenador,Financeiro,175,5.8,8.194017,insatisfeito,Suldeste,2015-11
111,97,João,M,Curitiba,2015-05-30,NaT,1269,Estagiário,Operações,54,9.2,8.194017,satisfeito,Sul,2015-05
124,243,Juliana,F,Goiânia,2015-07-01,NaT,841,Estagiário,Financeiro,15,9.4,8.194017,satisfeito,Centro Oeste,2015-07
127,369,Larissa,F,Belo Horizonte,2015-03-22,NaT,1470,Estagiário,Administrativo,11,7.8,8.194017,insatisfeito,Suldeste,2015-03
140,144,Lucas,M,Recife,2015-06-09,NaT,1150,Estagiário,Comercial,5,8.8,8.194017,satisfeito,nordeste,2015-06
148,485,Luisa,F,Salvador,2015-05-10,NaT,1979,Estagiário,Operações,106,8.0,8.194017,insatisfeito,Nordeste,2015-05
171,48,Marianna,F,Rio de Janeiro,2015-10-02,NaT,1301,Estagiário,Financeiro,160,7.6,8.194017,insatisfeito,Suldeste,2015-10
180,61,Michelle,F,Campinas,2015-03-07,NaT,1545,Estagiário,Logística,81,8.4,8.194017,satisfeito,Suldeste,2015-03
181,306,Milena,F,Recife,2015-02-08,NaT,6286,Analista,Administrativo,57,8.8,8.194017,satisfeito,nordeste,2015-02
182,453,Milena,F,São Paulo,2015-08-24,NaT,1704,Estagiário,Comercial,183,6.8,8.194017,insatisfeito,Suldeste,2015-08
184,232,Nathalia,F,São Paulo,2015-09-22,NaT,7448,Analista,Financeiro,15,8.6,8.194017,satisfeito,Suldeste,2015-09
188,75,Nicole,F,Salvador,2015-06-02,2016-09-19,7300,Analista,Operações,180,8.6,8.194017,satisfeito,Nordeste,2015-06
190,222,Patricia,F,Salvador,2015-07-22,NaT,10983,Coordenador,Logística,124,7.2,8.194017,insatisfeito,Nordeste,2015-07
197,490,Pedro,M,Rio de Janeiro,2015-01-12,NaT,10804,Coordenador,Administrativo,120,9.0,8.194017,satisfeito,Suldeste,2015-01
200,248,Priscila,F,Rio de Janeiro,2015-06-08,NaT,5781,Analista,Financeiro,198,8.4,8.194017,satisfeito,Suldeste,2015-06
231,464,Wesley,M,Rio de Janeiro,2015-11-17,NaT,1439,Estagiário,Logística,36,9.2,8.194017,satisfeito,Suldeste,2015-11

              Salario
pormes
2015-01  10804.000000
2015-02   7551.000000
2015-03   4022.666667
2015-04  10825.500000
2015-05   1766.666667
2015-06   4743.666667
2015-07   5768.000000
2015-08   3362.666667
2015-09   7448.000000
2015-10   1499.500000
2015-11   6524.000000
2015-12   1022.000000